{% extends "layout.html" %}
{% load static %}

<title>
        {%block title %} - TOMANDO ASISTENCIA - {% endblock %}
</title>

{% block content %}

  <button class="button" onclick="location.href='{% url 'index' %}'" type="button"> REGRESAR</button>

<div class="row">
  <div class="asistlista">

  <div class="tiempo"><p><span>{{materia.nom_mat}}</span></p></div>
  <div class="tiempo"><p id="temporizador"> </p> <p>  {{horamax}} </p> </div>

  
    <div class="columnaPerfillista"> 
      <img  src="{% static 'foto.png' %}" alt="" class="foto"> 
      </div>

      <div class="columnaDatosIndex" >
          <ul class="listacss" id="notiflist" >
            
            {% if alumno_activo %}   
              <li> 
                <b>Número de Control: </b> <br>
                {{alumno_activo.num_control}} <br>
                <b>Nombre De Alumno: </b> <br>
                {{alumno_activo.nom_alu}} <br> 
                </li>       
            {% endif %}
          </ul>
      </div>
 
      <div class="columnaDatosLista"> 
      <table  id=tablaAsist style="width:100%"> 
        <tr>
          <th><strong>Número de Control</strong></th>
          <th><strong>Nombre de Alumno</strong></th>
        </tr>

        {% if asistenciaF %} 
        
        {% for alumno in asistenciaF %}
        <tr> <td> {{alumno.num_control}} </td> <td>{{alumno.nom_alu}}</td></tr>
        {% endfor %}

        {% endif %}
      </table>
    </div>
  </div>

 

  
</div>

<script>
  // TEMPORIZADOR

  var minutosresta = 15; //MINUTOS
  var segundosresta = 00; // SEGUNDOS
  var strfinal = "¡YA PASARON LOS 15 MINUTOS!";
  var tiempo1;
  if(localStorage.getItem("tiempo1")) {
    tiempo1 = new Date(localStorage.getItem("tiempo1"));
    } else {
      tiempo1 = new Date();
      tiempo1.setMinutes(tiempo1.getMinutes()+minutosresta);
      tiempo1.setSeconds(tiempo1.getSeconds()+segundosresta);
    }
  var counter = function () {
    var ahora = new Date();
    var diff = tiempo1 - ahora;

    diff = new Date(diff);

    var milliseconds = parseInt((diff%1000)/100)
        var sec = parseInt((diff/1000)%60)
        var mins = parseInt((diff/(1000*60))%60)
        //var horas = parseInt((diff/(1000*60*60))%24);

    if (mins < 10) {
        mins = "0" + mins;
      }

    if (sec < 10) { 
        sec = "0" + sec;
      }    

    if(ahora >= tiempo1) {     
        clearTimeout(interval);
        localStorage.removeItem("tiempo1");
        localStorage.clear();
        document.getElementById('temporizador').innerHTML = strfinal;
        alert("¡SE ACABO EL TIEMPO!");
        window.location.href= "http://127.0.0.1:8000/resumen_dia/";
      }else {
        var hora = mins + ":" + sec;
        localStorage.setItem("tiempo1", tiempo1);
        document.getElementById('temporizador').innerHTML = hora;
      }
  }
  var interval = setInterval(counter, 1000);
  
// TEMPORIZADOR

  document.addEventListener('DOMContentLoaded', function() {
  const webSocketBridge = new channels.WebSocketBridge();
  const nl = document.querySelector("#notiflist");
  const tl = document.querySelector("#tablaAsist");
  
  webSocketBridge.connect('/notifications/');
  webSocketBridge.listen(function(action, stream) {
  console.log("RESPONSE:", action);
    if(action.event == "logeo") {    

      var ul = document.getElementById("notiflist");
      while(ul.firstChild) ul.removeChild(ul.firstChild);

      var elli = document.createElement("li");
      elli.innerHTML = `<b>Número de Control:</b><br> ${action.username}<br>  <b>Nombre del Alumno:</b><br> ${action.firstname}`;
      nl.appendChild(elli);

      var eltr = document.createElement("tr");
      eltr.innerHTML = `<td>${action.username}</td> <td>${action.firstname}</td>`;
      tl.appendChild(eltr);
                   
        }
      })
  document.ws = webSocketBridge;
  })
</script> 

{% endblock %}

