{% extends "layout.html" %}
{% load static %}

<title>
  {%block title %} Primer Pantalla {% endblock %}
</title>

{% block content %}

<section class="info">
<br>
<div class="asist">
  <ul>   
   <strong>MATERIA:</strong> 
     <li>{{ materia }}</li>
     <strong>HORA:</strong> 
     <li>{{horaI}} a {{horaF}}</li>
     <strong>DOCENTE: :</strong> 
     <li>{{ nom_docente }}</li>

    </ul>
</div>

<div class="btndiv">
  <button class="button" onclick="location.href='{% url 'index' %}'" type="button" style="float:right" > REGRESAR </button>
</div>

<div class="asist">
  <table style="width:100%">
    <tr>
      <th><strong>Numero de Control</strong></th>
      <th><strong>Nombre de Alumno</strong></th>
      <th><strong>Dia</strong></th>
    </tr>
    {% if asistenciaF %} 
        
        {% for alumno in queryF %}
        <tr> <td> {{alumno.num_control}} </td> <td>{{alumno..num_control}}</td> <td> {% if alumno.asist == True %} X  {% endif %}</td> </tr>
        {% endfor %}

        {% endif %}

  </table></div>

</section>

{% endblock %}
