{% extends "layout.html" %}
{% load static %}

<title>
  {%block title %} - RESUMEN  DEL DíA -  {% endblock %}
</title>

{% block content %}
<div class="btndiv">
  <button class="button" onclick="location.href='{% url 'index' %}'" type="button" style="float:right" > REGRESAR </button>
</div>
<section class="info">
<br>
<div class="asist">
  <ul>   
   <strong>MATERIA:</strong> 
     <li>{{ materia }}</li>
     <strong>HORA:</strong> 
     <li>{{horaI}} a {{horaF}}</li>
     <strong>DOCENTE: :</strong> 
     <li>{{ nom_docente }}</li>

    </ul>
</div>

<div class="asist">
  <table style="width:100%">
    <tr>
      <th><strong>Número de Control</strong></th>
      <th><strong>Nombre de Alumno</strong></th>
      <th><strong>{{ dia }}</strong></th>
    </tr>
    
    {% if asistenciaC %} 
      {% for alumno in asistenciaC %}
      <tr> <td> {{alumno.num_control}} </td> <td>{{alumno.nom_alu}}</td> <td> {% if alumno.asist == True %} X  {% endif %}</td> </tr>
      {% endfor %}
     {% endif %}

  </table>
  
</div>

</section>

{% endblock %}
